* {
    margin: 0;
    padding: 0;
}
.customSpace {
    width: 100%;
    height: 10rem;
    background-color: #0a3d62;
    border-radius: 0 0 5px 5px;
}
#add {
    font-size: 1.5rem;
    /* margin-top: 2.3rem; */
    cursor: pointer;

}
h1 {
    padding-top: 2rem;
}
.custom {
    padding: 8px;
    background: #0a3d62;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 5px;
}
.btn-success {
    background-color: #0a3d62;
}
.btn-success:focus {
    background-color: #3c6382;
}

.btn-success:hover {
    background-color: #3c6382;
}